<nb-card>
  <nb-card-body>
    <input class="mb-3" type="text" nbInput fullWidth status="basic" placeholder="SSID" 
    [(ngModel)] = 'ssid' (ngModelChange)='changeSsid($event)'
    />

    <input [type]="getInputType()" nbInput [fullWidth]='true' placeholder="Password" 
    [(ngModel)] = 'password' (ngModelChange)='changePassword($event)'
    />

    <button nbSuffix nbButton ghost (click)="toggleShowPassword()">
      <nb-icon
        [icon]="showPassword ? 'eye-outline' : 'eye-off-2-outline'"
        pack="eva"
        [attr.aria-label]="showPassword ? 'hide password' : 'show password'"
      >
      </nb-icon>
    </button>
  </nb-card-body>
</nb-card>
